%h1= @zone.props["name"] + " Zone"

%ul.well
  %li{:class => "btn btn-large btn-success"} RabbitMQ
  %li{:class => "btn btn-large btn-success"} OpenSIPS
  %li{:class => "btn btn-large btn-success"} BigCouch
  %li{:class => "btn btn-large btn-success"} FreeSWITCH
  %li{:class => "btn btn-large btn-success"} eCallMgr
  %li{:class => "btn btn-large btn-success"} WhApps

%ul.well
  - @zone.nodes.each do |n|
    %li
      %a{:href => "/nodes/#{n["id"]}"}= n["name"]

%h3
  %a{:href => "/zones/edit/#{@z_id}", :class => "btn btn-primary"}Edit
%table{:border => 0, :width => "100%"}
  %tr{:align => "left"}
    %th Monitored
    %th Enabled
  %tr{:align => "left"}
    %th Mainenance Schedule  
    %th none scheduled
  %tr{:align => "left"}
    %th Maintenance Notfication Alerts
    %th Email and Phone
  %tr{:align => "left"}
    %th SSH Key
  %tr{:align => "left"}
    %th Erlang Cookie
    %th= @zone.props["erlang_cookie"]
%hr
%table{:border => 0, :width => "100%"}
  %tr{:align => "left"}
    %th Cluster Status
    %th Schedule Maintenance
    %th Upgrade/Downgrade
  %tr
    %td
      Version
      = @zone.props["version"]
    %td
    %td
      %form{:action => "/zone_deploys", :method => "post"}
        Select Version
        .input
          %label{:version => "version"} 
          %select{:name => "version"}
            %option{:value => "v2.5.0"} v2.5.0
            %option{:value => "v2.10.0"} v2.10.0
            %option{:value => "v2.10.12"} v2.10.12
          %input{:type => "hidden", :name => "zone_id", :value => @z_id}
        %input{:type => "submit", :value => "Deploy", :class => "btn"}
    %tr{:align => "left"}
      %th Backup
      %th Add Server
      %th Remove Server
    %tr
      %td
      %td
        %form{:action => "/nodes", :method => "post"}
          = partial "forms/nodecreate"
          %input{:type => "submit", :value => "Deploy", :class => "btn"}
