%h2 Account Info 
%p
  Name: #{@foo["name"]}
%p
  Id: #{@foo["id"]}
%p
  Realm: #{@foo["realm"]}
%p
  Role: #{@foo["role"]}

%h2 Parent Info
%p
- (0..@foo["parentcount"]).each do |i|
  Parent Name: #{@bar["name#{i}"]}
  %br/
  Parent Id: #{@bar["id#{i}"]}
  %br/
  Parent Realm: #{@bar["realm#{i}"]}
  %br/
  Parent Role: #{@bar["role#{i}"]}
  %br/

%h2 SugarCRM Info
%p
  Sugar Description: #{@meow["description"]}
%p
  Sugar Website: #{@meow["website"]}
%p
  Sugar Services: #{@meow["services"]}

