%h2 Account Info 
%p
  Name: #{@foo["name"]}
  %br/
  Id: #{@foo["id"]}
  %br/
  Realm: #{@foo["realm"]}
  %br/
  Role: #{@foo["role"]}

%h2 Parent Info
%p
- (0..@foo["parentcount"]).each do |i|
  Parent Name: #{@bar["name#{i}"]}
  %br/
  Parent Id: #{@bar["id#{i}"]}
  %br/
  Parent Realm: #{@bar["realm#{i}"]}
  %br/
  Parent Role: #{@bar["role#{i}"]}
  %br/
  %br/

%h2 SugarCRM Info
%p
  Description: #{@meow["description"]}
  %br/
  Website: #{@meow["website"]}
  %br/
  Services: #{@meow["services"]}
  %br/
  %br/
  - (0..@mix["contactcount"]).each do |i|
    Contact: #{@mix["first_name#{i}"]} #{@mix["last_name#{i}"]}
    %br/
    Title: #{@mix["title#{i}"]}
    %br/
    Phone: #{@mix["phone_work#{i}"]}
    %br/
    - (0..@mix["emailcount"]).each do |k|
      Email: #{@mix["email_address#{i};#{k}"]}
      %br/
      %br/

%h2 Zendesk Info
%p
- (0..@zen["ticketcount"]).each do |i|
  #{@zen["#{i};subject"]}
  %br/
  Last update: #{@zen["#{i};updated_at"]}
  %br/
  %a{:href => "#{@zen["#{i};url"]}"} Ticket # #{@zen["#{i};id"]}
  %br/
  %br/
