%h1 Account Info 
%p
  Name: #{@foo["name"]}
%p
  Id: #{@foo["id"]}
%p
  Realm: #{@foo["realm"]}
%p
  Role: #{@foo["role"]}
%p
  Parent Name: #{@bar["name0"]}
%p
  Parent Id: #{@bar["id0"]}
%p
  Parent Realm: #{@bar["realm0"]}
%p
  Parent Role: #{@bar["role0"]}
%p
  Sugar Description: #{@meow["description"]}
%p
  Sugar Website: #{@meow["website"]}
%p
  Sugar Services: #{@meow["services"]}
